[submodule "cairo_contracts"]
	path = lib/cairo_contracts
	url = https://github.com/OpenZeppelin/cairo-contracts/
[submodule "old_identity"]
	path = lib/old_identity
	url = https://github.com/starknet-id/old_identity
