[submodule "cairo_contracts"]
	url = https://github.com/OpenZeppelin/cairo-contracts
	path = lib/cairo_contracts
[submodule "starknet_id"]
	url = https://github.com/starknet-id/contract
	path = lib/starknet_id
