[submodule "cairo_contracts"]
	path = lib/cairo_contracts
	url = https://github.com/OpenZeppelin/cairo-contracts/tree/release-v0.5.0
[submodule "starknetid"]
	path = lib/starknetid
	url = https://github.com/starknet-id/contract
